[submodule "roles/ANXS.postgresql"]
	path = roles/ANXS.postgresql
	url = https://github.com/ANXS/postgresql.git
[submodule "roles/geerlingguy.redis"]
	path = roles/geerlingguy.redis
	url = https://github.com/geerlingguy/ansible-role-redis
[submodule "roles/ansible-role-nagios"]
	path = roles/ansible-role-nagios
	url = https://github.com/networklore/ansible-role-nagios.git
[submodule "roles/micafer.torque"]
	path = roles/micafer.torque
	url = https://github.com/micafer/ansible-role-torque.git
[submodule "roles/corburn.nginx/files/server-configs-nginx"]
	path = roles/corburn.nginx/files/server-configs-nginx
	url = https://github.com/h5bp/server-configs-nginx.git
[submodule "roles/geerlingguy.jenkins"]
	path = roles/geerlingguy.jenkins
	url = https://github.com/geerlingguy/ansible-role-jenkins.git
[submodule "roles/CSC.slurm"]
	path = roles/CSC.slurm
	url = https://github.com/CSC-IT-Center-for-Science/ansible-role-slurm.git
